html:not(#ima-force-page-scroll-1):not(#ima-force-page-scroll-2):not(#ima-force-page-scroll-3):not(#ima-force-page-scroll-4):not([data-ima-enabled="false"]):not([data-ima-disable-scroll-effects="false"]),
html:not(#ima-force-page-scroll-1):not(#ima-force-page-scroll-2):not(#ima-force-page-scroll-3):not(#ima-force-page-scroll-4):not([data-ima-enabled="false"]):not([data-ima-disable-scroll-effects="false"]) * {
  scroll-behavior: auto !important;
  scroll-snap-type: none !important;
}

html:not(#ima-force-page-cursor-1):not(#ima-force-page-cursor-2):not(#ima-force-page-cursor-3):not(#ima-force-page-cursor-4):not([data-ima-enabled="false"])[data-ima-disable-animated-cursors="true"],
html:not(#ima-force-page-cursor-1):not(#ima-force-page-cursor-2):not(#ima-force-page-cursor-3):not(#ima-force-page-cursor-4):not([data-ima-enabled="false"])[data-ima-disable-animated-cursors="true"] * {
  cursor: auto !important;
}

html:not(#ima-force-page-cursor-1):not(#ima-force-page-cursor-2):not(#ima-force-page-cursor-3):not(#ima-force-page-cursor-4):not([data-ima-enabled="false"])[data-ima-disable-animated-cursors="true"] [data-ima-cursor-overlay="true"] {
  display: none !important;
}
